<!--
	插件 View in Browser
	Firefox浏览器：  Ctrl + Alt + f
	Chrome浏览器：  Ctrl + Alt + c
	IE浏览器：  Ctrl + Alt + i
	Safari浏览器：  Ctrl + Alt + s
	如果想要自定义快捷键的话，可以在 Keybindings 中配置各浏览器快捷键。

	{ "keys": [ "ctrl+alt+v" ], "command": "view_in_browser" },
	{ "keys": [ "f5" ], "command": "view_in_browser", "args": { "browser": "firefox" } },
	{ "keys": [ "f3" ], "command": "view_in_browser", "args": { "browser": "chrome" } },
	{ "keys": [ "ctrl+alt+i" ], "command": "view_in_browser", "args": { "browser": "iexplore" } },
	{ "keys": [ "f4" ], "command": "view_in_browser", "args": { "browser": "safari" } }

	作者：GLGeek
	链接：http://www.jianshu.com/p/686672aff949
	來源：简书
	著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
	-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test_users - KBlog</title>
	<link rel="stylesheet" type="text/css" href="../static/test_users.css">
</head>
<body>
	<h1>all users</h1>
	{% for u in users %}
	<p>{{ u.name }} / {{ u.email }}</p>
	{% endfor %}
</body>
</html>